export TRUENAS_URL="https://nas.mgmt.h.mirceanton.com"
export TRUENAS_API_KEY="3-0rR7Y91rT7dMYePeKQeaBYTIOL21Wchz8vpEzOEa6ShURyuLTCbDkFSoXE9tLwvA"
export TRUENAS_NAME="truenas-mirceanton"

export S3_ENDPOINT="https://s3.eu-central-003.backblazeb2.com"
export S3_ACCESS_KEY="0033cd4af7542fe000000004a"
export S3_SECRET_KEY="K003Cded961l3qqKKQxbftvRFIvcPio"
export S3_BUCKET="fucking-hell"
export S3_PREFIX="truenas-backupsss"
export S3_REGION="us-east-1"

export VERIFY_SSL="true"
export BACKUP_RETENTION_DAYS="7"