---
name: Docker Build and Push
permissions: { contents: read }

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry Run
        default: false
        required: false
        type: boolean
      select:
        description: "Select container to build"
        required: false
        default: ""
        type: string
  push:
    paths:
      - ".github/workflows/docker-cd.yaml"
      - "containers/**"

jobs:
  discover-containers:
    runs-on: ubuntu-latest
    outputs:
      containers: ${{ steps.discover.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Find Containers
        id: discover
        uses: mirceanton/action-folder-matrix@6d2a7cc1caac468d378df2350b0d50e844befd3d # v2.1.1
        with:
          path: ./containers
          changed-only: ${{ github.event_name != 'workflow_dispatch' }}
          filter: ${{ inputs.select }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build-and-push:
    needs: discover-containers
    runs-on: ubuntu-latest
    if: fromJson(needs.discover-containers.outputs.containers).directory[0] != null
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.discover-containers.outputs.containers) }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      
      - name: Log in to Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: mirceanton
          password: ${{ secrets.GHCR_RW_TOKEN }}

      - name: Build and push Docker image
        uses: docker/bake-action@3acf805d94d93a86cce4ca44798a76464a75b88c # v6.9.0
        with:
          push: ${{ (github.ref_name == 'main') || ( github.event_name == 'workflow_dispatch' && inputs.dry-run == false)}}
          workdir: ./containers/${{ matrix.directory }}
          files: ./docker-bake.hcl
          targets: default
          source: .
        env:
          GIT_SHA: ${{ github.sha }}
