---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Trivy

permissions:
  security-events: write
  contents: read

on:
  schedule: [{cron: "1 0 * * *"}]
  pull_request: { branches: [main] }
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry Run
        required: false
        default: false
        type: boolean
      select:
        description: "Select container to build"
        required: false
        default: ""
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  discover-containers:
    runs-on: ubuntu-latest
    outputs:
      containers: ${{ steps.discover.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Find Containers
        id: discover
        uses: mirceanton/action-folder-matrix@6d2a7cc1caac468d378df2350b0d50e844befd3d # v2.1.1
        with:
          path: ./containers
          changed-only: ${{ github.event_name != 'workflow_dispatch' }}
          filter: ${{ inputs.select }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  scan:
    needs: discover-containers
    runs-on: ubuntu-latest
    if: fromJson(needs.discover-containers.outputs.containers).directory[0] != null
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.discover-containers.outputs.containers) }}
    steps:
      - name: Create directory for scan results
        run: mkdir -p trivy-results

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          image-ref: ghcr.io/mirceanton/${{ matrix.directory }}:latest
          format: 'sarif'
          output: 'trivy-results/results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'
          ignore-unfixed: false
          vuln-type: 'os,library'

      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ !(inputs.dry-run || github.event_name == 'pull_request') }}
        uses: github/codeql-action/upload-sarif@1b168cd39490f61582a9beae412bb7057a6b2c4e # v4.31.8
        with:
          sarif_file: 'trivy-results/results.sarif'
          category: 'trivy'
