---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Trivy

permissions:
  security-events: write
  contents: read

on:
  schedule: [{cron: "1 0 * * *"}]
  pull_request: { branches: [main] }
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry Run
        required: false
        default: false
        type: boolean
      select:
        description: "Select container to build"
        required: false
        default: ""
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  discover-containers:
    runs-on: ubuntu-latest
    outputs:
      containers: ${{ steps.discover.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Find Containers
        id: discover
        uses: mirceanton/action-folder-matrix@8e502fabcdf901e955b4e607d91c661bd794734e # v3.0.0
        with:
          path: ./containers
          changed-only: ${{ github.event_name != 'workflow_dispatch' }}
          filter: ${{ inputs.select }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  scan:
    needs: discover-containers
    runs-on: ubuntu-latest
    if: fromJson(needs.discover-containers.outputs.containers).directory[0] != null
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.discover-containers.outputs.containers) }}
    steps:
      - name: Create directory for scan results
        run: mkdir -p trivy-results

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518 # 0.34.1
        with:
          image-ref: ghcr.io/mirceanton/${{ matrix.directory }}:latest
          format: 'sarif'
          output: 'trivy-results/results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'
          ignore-unfixed: false
          vuln-type: 'os,library'

      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ !(inputs.dry-run || github.event_name == 'pull_request') }}
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        with:
          sarif_file: 'trivy-results/results.sarif'
          category: 'trivy'
